Repository JeanAEckelberg/byte_engine, pull requests merged in 2023-10, with the labels that each got.

#102 Create CRUD Operations for submission
  server/crud/submission_CRUD.py
  server/models/errors.py
  server/models/submission.py
  server/models/team.py
  server/schemas/submission.py
  server/schemas/submission_schema.py
Labels: enhancement, Byte Server

#103 Patch for a few things missing
  server/crud/submission_CRUD.py
  server/models/submission.py
  server/schemas/submission_schema.py
Labels: enhancement, Byte Server

#104 Changed bytesprite architecture and implemented new config
  visualizer/adapter.py
  visualizer/bytesprites/bytesprite.py
  visualizer/bytesprites/bytesprite_factory.py
  visualizer/bytesprites/exampleBS.py
  visualizer/bytesprites/exampleTileBS.py
  visualizer/bytesprites/exampleWallBS.py
  visualizer/config.py
  visualizer/main.py
Labels: enhancement, Byte Visualizer, Optimization

#107 Fixed video writer
  requirements.txt
  visualizer/main.py
Labels: bug, Byte Visualizer

#106 Fix circular imports
  server/models/errors.py
  server/models/submission.py
  server/models/team.py
  server/models/university.py
Labels: bug, Byte Server

#108 Please look over with great power and responsibility
  game/common/map/game_board.py
  game/common/map/tile.py
  game/test_suite/tests/test_movement_controller_if_stations.py
Labels: bug, Byte Framework

#111 errors crud
  game/common/map/game_board.py
  game/common/map/tile.py
  game/test_suite/tests/test_movement_controller_if_stations.py
  requirements.txt
  server.zip
  server/crud/crud_errors.py
  server/crud/crud_group_run.py
  server/crud/crud_run.py
  server/crud/crud_submission.py
  server/crud/crud_team.py
  server/crud/crud_team_type.py
  server/crud/crud_turn_table.py
  server/crud/crud_university.py
  server/models/errors.py
  server/models/run.py
  server/models/submission.py
  server/schemas/errors_schema.py
  server/schemas/submission.py
  server/schemas/submission_schema.py
  visualizer/main.py
Labels: Byte Server

#112 group_run
  server/crud/crud_errors.py
  server/crud/crud_group_run.py
  server/crud/crud_submission.py
  server/models/group_run.py
  server/schemas/errors_schema.py
  server/schemas/run_schema.py
  server/schemas/submission_schema.py
Labels: Byte Server

#114 wip
  server/crud/crud_run.py
  server/models/group_run.py
  server/models/run.py
  server/schemas/errors_schema.py
  server/schemas/group_run_schema.py
  server/schemas/run_schema.py
  server/schemas/submission.py
  server/schemas/submission_schema.py
  server/schemas/team_schema.py
  server/schemas/team_type_schema.py
  server/schemas/turn_table_schema.py
  server/schemas/university_schema.py
Labels: Byte Server

#115 cruds
  server/crud/crud_team_type.py
  server/crud/crud_turn_table.py
  server/crud/crud_university.py
  server/models/team.py
Labels: Byte Server

#117 Server specified import
  server/main.py
Labels: bug, Byte Server

#122 added documentation to endpoints
  server/main.py
Labels: documentation, Byte Server
